.pic1 {
  background-color: #000;
  background-size: cover;
  background-image: url(/pic1.jpg);
}

.pic2 {
  background-color: #000;
  background-size: cover;
  background-image: url(/pic2.jpg);
}

.pic3 {
  background-color: #000;
  background-size: cover;
  background-image: url(/pic3.avif);
}
.pic {
  width: 100%;
  height: 100vh;
}

h3,
p {
  text-align: center;
}
